* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(250, 250, 250);
}

.container {
  box-shadow: 2px 2px 2px 2px rgb(196, 196, 196);
  border: 1px solid black;
  border-radius: 10px;
  width: 80vw;
  min-width: 700px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.item {
  background-color: rgb(233, 233, 233);
  box-shadow: 2px 2px 2px 2px rgb(196, 196, 196);
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  height: 240px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item span {
  text-align: center;
}

.shape {
  flex-grow: 1;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 200px;
  height: 150px;
  background: red;
}

.square {
  width: 150px;
  height: 150px;
  background: yellow;
}

.rhombus {
  width: 110px;
  height: 110px;
  transform: rotateZ(45deg);
  background: blue;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: green;
}

.triangle {
  border: 100px solid blueviolet;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  margin-top: -80px;
}

.parallelogram {
  width: 160px;
  height: 120px;
  transform: skewX(-20deg);
  background: orange;
}